<h1>Welcome to You-Review-Anime <%=@user.username %>! </h1>We here behind the screen hope you enjoy your stay, but please refrain from spoiling anime in your reviews. 
If deemed guilty on multiple occasions you will be banned. You wouldn't want plots spoiled for you right? Thank you for your coorperation!

<h3> Click <%= link_to 'here', reviews_newest_reviews_path %> to view the 5 recently reviewed anime </h3>